.container {
   max-width: 1000px;
   margin: auto;
}


.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(58, 59, 58);

}


.container-header-text{
    margin-left: 10px;
    color: #0056b3;
}

form {
    display: flex;
    max-width: 100%;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



input {
    margin: 20px;
    padding: 10px;
    flex: 1;
    color: #333;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(92, 91, 91, 0.3);
    font-size: 16px;

    
}

button {
    background-color:rgb(58, 59, 58);
    color: white;
    width: 14%;
    height: 60px;
    border: none;
    border-radius: 4px;
    padding: 0px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    
}

button:hover {
    background-color: #0056b3;
}

.image-display {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    padding: 3px;

}

img {
    width: 100%;
    height: auto;
}




.loading-bar {
    width: 0px;
    height: 8px;
    background-color: #0056b3;
    border-radius: 8px;

}


.loading-bar-full {
    width: 500px;
    height: 16px;
    background-color: #0056b3;
    border-radius: 8px;
    transition: 15s;

}

.loading-text {
    font-size: 18px;
    
}

.display-none {
    display: none;

}